In [4]:
import os
import io
import numpy
import pandas as pd

In [11]:
# data = pd.read_csv('spam.csv',sep='\t')
df = pd.read_table('SMSSpamCollection',
                   sep='\t',
                   header=None,
                   names=['label', 'sms_message'])

In [12]:
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df['label'] = df.label.map({'ham' : 0 , 'spam' : 1})
df.head()

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['sms_message'],
                                                    df['label'],
                                                    random_state=1)

print ("Our original set contains", df.shape[0], "observations")
print ("Our training set contains", X_train.shape[0], "observations")
print ("Our testing set contains", X_test.shape[0], "observations")
# split into training and testing sets

Our original set contains 5572 observations
Our training set contains 4179 observations
Our testing set contains 1393 observations

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer() #set the variable

In [39]:
train = count_vector.fit_transform(X_train)
test = count_vector.transform(X_test)

In [40]:
print(train.shape)
print(test.shape)

(4179, 7456)
(1393, 7456)

In [41]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(train, y_train)

MultinomialNB()

In [42]:
predictions = naive_bayes.predict(test)

In [43]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: {}'.format(accuracy_score(y_test, predictions)))
print('Precision score: {}'.format(precision_score(y_test, predictions)))
print('Recall score: {}'.format(recall_score(y_test, predictions)))
print('F1 score: {}'.format(f1_score(y_test, predictions)))

Accuracy score: 0.9885139985642498
Precision score: 0.9720670391061452
Recall score: 0.9405405405405406
F1 score: 0.9560439560439562