In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_table(
'SMSSpamCollection',
    sep = '\t',
    header = None,
    names = ['labels','sms_message']
)

In [4]:
df.head()

  labels                                        sms_message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df['labels'] = df.labels.map({"ham": 0,'spam' : 1})
df.head()

   labels                                        sms_message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['sms_message'],
                                                    df['labels'],
                                                    random_state=1)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer() #set the variable

In [10]:
train = count_vector.fit_transform(X_train)
test = count_vector.transform(X_test)

In [46]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=80, random_state=0)

In [47]:
 clf.fit(train, y_train)

RandomForestClassifier(max_depth=80, random_state=0)

In [48]:
predictions = clf.predict(test)

In [49]:
y_test.shape

(1393,)

In [50]:
predictions.shape

(1393,)

In [51]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: {}'.format(accuracy_score(y_test, predictions)))
print('Precision score: {}'.format(precision_score(y_test, predictions)))
print('Recall score: {}'.format(recall_score(y_test, predictions)))
print('F1 score: {}'.format(f1_score(y_test, predictions)))

Accuracy score: 0.9806173725771715
Precision score: 1.0
Recall score: 0.8540540540540541
F1 score: 0.9212827988338192